<?xml version="1.0" encoding="utf-8" ?>
<packages>
    <!-- Hashicorp tools -->
    <package id="consul" />
    <package id="consul-template" />
    <package id="packer" />
    <package id="serf" />
    <package id="terraform" />
    <package id="vagrant" />
    <package id="nomad"/>
    <package id="vault" />
    <package id="tflint" />

    <!-- Azure tools -->
    <package id="azcopy" />
    <package id="azure-cli" />
    <package id="armclient"/>
    <package id="azure-data-studio" />
    <package id="microsoftazurestorageexplorer" />

    <!-- AWS tools -->
    <package id="awscli" />

    <!-- Misc -->
    <package id="windows-admin-center" />
    <package id="microsoft-teams.install"/>
    <package id="microsoft-message-analyzer"/>
    <package id="sql-server-management-studio"/>
    <package id="office365proplus"/>
    <package id="microsoft-teams.install" />
    <package id="postman"/>
    <package id="rust"/>
    <package id="golang"/>
    <package id="icloud"/>
    <package id="nodejs"/>
    <package id="jdk8"/>
    <package id="juju"/>
    <package id="reportgenerator.portable" />
    <package id="powershell-core"/>
    <package id="plexmediaplayer"/>
    <package id="popcorn-time"/>
    <package id="steam"/>
    <package id="discord" />
    <package id="battle.net"/>
    <package id="steam-cleaner"/>
    <package id="ruby"/>
    <package id="slack"/>
    <package id="wsl" />
    <package id="rsat" />
    <package id="royalts"/>
    <package id="node"/>
    <package id="sccmtoolkit" />

    <!-- Development tools -->
    <package id="git"/>
    <package id="androidstudio" />
    <package id="docker-cli"/>
    <package id="git-credential-manager-for-windows" />
    <package id="git" />
    <package id="git-lfs" />
    <package id="tortoisegit" />
    <package id="vswhere" />
    <package id="vscode" />
    <package id="nuget.commandline" />
    <package id="minikube"/>
    <package id="skaffold"/>
    <package id="draft"/>
    <package id="fluxctl"/>
    <package id="aks-engine"/>
    <package id="fzf"/>
    <package id="kubernetes-kompose"/>
    <package id="kubernetes-helm"/>
    <package id="kubernetes-cli" />
    <package id="visualstudio-installer"/>
    <package id="visualstudio2019enterprise" />
    <package id="visualstudio2019buildtools" />
    <package id="visualstudio2019-workload-managedgame" />>
    <package id="visualstudio2019-workload-manageddesktop" />
    <pakcage id="visualstudio2019-workload-netcoretools" />
    <package id="visualstudio2019-workload-netweb" />
    <package id="visualstudio2019-workload-nativedesktop" />
    <package id="visualstudio2019-workload-nativegame" />
    <package id="visualstudio2019-workload-nativemobile" />
    <package id="visualstudio2019-workload-data" />
    <package id="visualstudio2019-workload-datascience" />
    <package id="visualstudio2019-workload-azure" />
    <package id="visualstudio2019-workload-nativecrossplat" />
    <package id="visualstudio2019-workload-universal" />
    <package id="visualstudio2019-workload-node" />
    <package id="visualstudio2019-workload-vctools" />
    <package id="wmiexplorer" />
</packages>
